apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "host": "https://warpgate.example.com",
      "token": "y0ur-t0k3n",
      "insecure_skip_verify": "false"
    }
